log_level: info
dvc:
  remote: storage
  path: data/train.csv
dataset:
  features: ["MedInc", "HouseAge", "AveRooms", "AveBedrms", "Population", "AveOccup", "Latitude", "Longitude"]
  target: "MedHouseVal"
model:
  params: {}
  dump_path: ./model.pkl
mlflow:
  address: "http://127.0.0.1:5000"
  experiment: "mlops"